* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800 */
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

html {
    font-size: 92.5%;
    /* 1rem = 10px */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

p,
li,
a {
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: var(--para-color);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* theme */
:root {
    --main-color: #0062ff;
    --supporting-color: #ebf3fe;
    --font-color: #424242;
    --bg-color: aliceblue;
    --heading-color: #000a19;
    --h-color:#003b99;
    --para-color: #504e4d;
    --btn-hover-bg-color:#003b99;
    --btn-box-shadow:rgba(100,100,111,0.2) 10px 7px 49px 10px;
    --footer-bg-color:#040d12;
}

/* theme */

.first {
    font-size: 5rem;
    font-weight: 900;
    color: aquamarine;
}

.second {
    font-size: 3rem;
    font-weight: 500;
    color: antiquewhite;

}

.container {
    max-width: 162rem;
    max-height: 7rem;
    margin: 0 auto;
    padding: .5em 2em;
}

header {
    width: 100%;
    /* border: 2px solid black; */
    box-shadow: rgb(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgb(60, 64, 67, 0.15) 0px 0px 6px 2px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 6rem;
}

.navbar>ul {
    display: flex;
    gap: 3.2rem;

    & li a {
                                                        /*Nesting */
        color: var(--heading-color);
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: 700;
        position: relative;
        line-height: 1.5rem;

        &::after{
            content: "";
            position:absolute;
            width: 0;
            bottom: -.1rem;
            left: 0;
            border-bottom: .17rem solid var(--main-color);
            transition: all .3s ease;
        }
    }

    & li a:hover::after{
        width: 100%;
    }
}

/* Navbar section ends  */

/* MAIN section  starts*/
.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   
}
.section-hero .grid{
    align-items: center;
    padding-left: 3.5rem;
    gap: 4rem;
    /* padding-right: 1.5rem; */
}
.hero-subheading{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
    word-spacing: .1rem;
    color: var(--btn-hover-bg-color);
    font-weight: 400;
}
.new{
    font-size: 1.9rem;
    font-weight: 600;
    /* color:rgba(18, 42, 34, 0.422); */
    color: var(--h-color);
}
.hero-heading{
    font-size: 5.4rem;
}
.hero-para{
    color: var(--supporting-color);
    letter-spacing: .1em;
    font-size: .95rem;
    font-weight: 100;
}
.btn{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.btn-white{
    display: inline-block;
    padding: .6rem 1.7rem;
    background-color: var(--main-color);
    color: white;
    border-radius: .6rem;
    text-transform: capitalize;
}
.btn-white:hover{
    background-color: var(--btn-hover-bg-color);
    box-shadow: var(--btn-box-shadow);
}

main {
    position: relative;
    background-image: linear-gradient(to top right ,
    #3d86fa,
    #4484fb,
    #679eff,
    #b3d2ff,
    #ebf3fe
    );
}
img{
    width: 90%;
    height: 60%;
    padding-bottom: 2.5rem;
}
/* MAIN section  ends*/



/* Shape Divider  */
.custom-shape-divider-bottom-1725378284 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1725378284 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1725378284 .shape-fill {
    fill: #FFFFFF;
}
/* Shape divider ends  */

/* About section starts here  */
.section-common-heading{
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: capitalize;
    padding: 1rem 3.4rem;
}
.section-common-subheading{
    padding-left: 3.4rem;
    color: var(--heading-color);
    font-size: .90rem;
    padding-bottom: 10rem;
}

.icons>img{
    padding:1.8rem;
    background-color: var(--supporting-color);
    width: 7rem;
    height: auto;
    border-radius: 50%;
    transition: all .3s linear;
}
.icons>img:hover{
    transform: rotate(360deg);
    background:linear-gradient(to right,#0575e6,#021b79);
}
.about-div{
    text-align: center;
}
.common-title{
    margin: 2rem 0 1rem;
    font-size: 1.7rem;
    font-weight: 400;
}
.para{
    padding-left: 2.0rem;
    padding-right: 2rem;
    color: var(--heading-color);
    font-size: .90rem;
}
.grid-three--columns{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}
.about-section{
    padding-top: 2rem;
    padding-bottom: 10rem;
    
}

/* About section ends here  */

/* course section starts  */
.course-section{
    background-color: var(--supporting-color);
    padding-top: 3rem;
}
.fa-brands{
    padding: 1.2rem;
    background-color: white;
    border-radius: 50%;
    font-size: 1.2rem;
    color: var(--heading-color);
}
.course-div{
    padding: 2.4rem;
    margin-left:1rem ;
    margin-right:1rem ;
    text-align: center;
}

.grid-four--columns{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}
.course-div:hover{
    box-shadow: var(--btn-box-shadow);
}

/* using pseudo class  */
.course-div:nth-child(1) .icons .fa-brands{
    color: #E34F26;
}
.course-div:nth-child(2) .icons .fa-brands{
    color: #1572B6;
}
.course-div:nth-child(3) .icons .fa-brands{
    color: #F7DF1E;
}
.course-div:nth-child(4) .icons .fa-brands{
    color: #007396;
}
.course-div:nth-child(5) .icons .fa-brands{
    color: #61DAFB;
}
.course-div:nth-child(6) .icons .fa-brands{
    color: #8CC84B;
}
/* course section ends  */


/* service section starts */

.why-choose{
    padding-top: 10rem;
    /* text-align: center; */
}

/* .why-choose .choose-right-div .why-choose-div{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.right-div{

 display: flex;
 flex-direction: column;
 justify-content:start;
 align-items: end;
 text-align: right;
}

.choose-center-div,figure{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-heading{
    color: var(--heading-color);
    font-size: .90rem;
    padding-left: 3.2rem;
}
.subheading{
    color: var(--heading-color);
    font-size: .90rem;
    padding-right: 3.2rem;
}
/* service section ends */

/* contact section starts here  */
.contact{
    padding-top: 1rem;
}
.section-contact-homepage{
    width: 60%;
    min-height: 5rem;
    margin: 0 auto;

    box-shadow: rgb(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgb(60, 64, 67, 0.15) 0px 0px 6px 2px;

        & .grid{
            align-items: center;
        }
    position: relative;
    bottom: -7rem;
    z-index: 1;
    background-color: white;
  
       
}
.section-contact-homepage img{
    width: 60%;
    height: auto;
    margin-left: 10rem;
}
.contact-content{
 margin-left:2rem;
 margin-right: 2rem;
}
.contact-title{
    margin-top: 1rem;
    margin-bottom: 1.2rem;
}
.contact-content p{
    margin-bottom:2.4rem ;
}
#start{
    margin-left: 1rem;
}


/* contact section ends here  */

.footer{
    padding-top: 8rem;
    padding-left: 17rem;
    padding-bottom: 3rem;
    background-color: var(--footer-bg-color);

}
.footer *{
    color: white;
}
.facebook{
    /* background-color: var(--footer-bg-color); */
    margin-top: 1rem;
    margin-left:2rem ;
    color: #1877F2;
    transition: all .3s linear;
}
.facebook:hover{
    transform: rotate(360deg);
    background:linear-gradient(to right,#0575e6,#021b79);
}
.instagram{
    /* background-color: var(--footer-bg-color); */
    color: #E1306C;
    transition: all .3s linear;
}
.instagram:hover{
    transform: rotate(360deg);
    background:linear-gradient(to right,#0575e6,#021b79);
}
.footer-subheading{
    font-size: 1.6rem;
    font-weight: 500;
}
.footer-1--div{
    margin: 1.4rem 0 .7rem 0;
}
.footer-2--div{
    margin: 1.4rem 0 .7rem 0;
    padding-left: 4rem;
}
.footer-3--div{
    margin: 1.4rem 0 .7rem 0;
}
.footer-4--div{
    margin: 1.4rem 0 .7rem 0;
}
.list{
    font-size: .8rem;
    font-weight: 300;
}